name: Example Usage of Docker Build and Push Workflow

on:
  workflow_dispatch:
  push:
    branches: [dev]
jobs:
  call-build-push:
    uses: tex-corver/.github/.github/workflows/docker-build-push.yaml@master
    with:
      org-name: tex-corver
      project-name: httpbin
      docker-build-file: src/apps/httpbin/Dockerfile
      docker-build-context: .
      port: 80
      ingress: true
      ingress-subdomain: httpbin
      tag: dev
